.container {
    display: flex;
    flex-direction: column;
}

#canvas1 {
    border: 5px solid black;
    width: 600px;
    height: 600px;
    margin-bottom: 40px;
}

#canvas2 {
    border: 3px solid black;
    width: 800px;
    height: 700px;
}

#canvas3, #canvas4, #canvas5 {
    border: 3px solid black;
    width: 500px;
    height: 1000px;
}

#speed {
    width: 800px;
    font-size: 25px;
}

#slider {
    width: 100%;
}

.enemy-container {
    display: flex;
}

.controls {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.controls, select, option {
    font-size: 25px;
}